font_size 20
status_bar_font_size 15
flat_toc 0
enable_experimental_features 1
should_use_multiple_monitors 1
collapsed_toc 1

# =============== #
background_color           #272e33

text_highlight_color       #d3c6aa

search_highlight_color     #a7c080
link_highlight_color       #a7c080
synctex_highlight_color    #a7c080


custom_background_color    #272e33
custom_text_color          #d3c6aa

status_bar_color           #272e33
status_bar_text_color      #d3c6aa

ui_text_color              #d3c6aa
ui_background_color        #272e32
ui_selected_text_color     #272e33
ui_selected_background_color #d3c6aa

# =============== #
super_fast_search 1
startup_commands toggle_custom_color
new_command _dual_panelify python -m sioyek.dual_panelify "%{sioyek_path}" "%{file_path}" "%{command_text}"
new_command _translate_selected_text python -m sioyek.translate "%{sioyek_path}" "%{selected_text}"
new_command _translate_current_line_text python -m sioyek.translate "%{sioyek_path}" "%{line_text}"
